<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Movie Time</title>
</head>
<body class="bg-secondary">
    <div class="row d-flex vh-100 align-items-center justify-content-center">
        <div class="col-4"> 
            <div class="container rounded bg-white" style="min-height: 350px;">
                <h1 class="d-flex justify-content-center pt-5">Forgot Password</h1>
                <br>
                <form action="" method="POST" >
                    {% csrf_token %}
                    <label for="ademail">Email</label>
                    <input class="form-control mb-3 bg-light border-3" placeholder="Email" type="email" id="ademail" name="email">
                    <br>
                    <button class="btn btn-primary" type="submit">Send Email</button>
                    <a href="http://127.0.0.1:8000/">Go back to login</a>
                </form>
                {% if message %}
                <div id="response">
                    <p>{{ message.status }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>