{% extends 'layout/app_layout.html' %}
{% block 'content' %}

<div class="vh-100 d-flex align-items-center bg-dark justify-content-center">
    <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/nnD8FKXzIGs?si=ivJGaAGXaWQyHued" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>


{% endblock %}