<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Movie Time</title>
</head>
<body class="bg-secondary">
    <div class="row d-flex vh-100 align-items-center justify-content-center">
        <div class="col-4">
            <div class="container rounded bg-white" style="min-height: 350px;">
                <h1 class="d-flex justify-content-center pt-3"> {{ title }} </h1>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    <label for="pass">New Password</label>
                    <input class="form-control mb-4 bg-light border-3" placeholder="Password" type="password" id="pass" name="password">
                    <label for="cpass">Confirm Password</label>
                    <input class="form-control mb-4 bg-light border-3" placeholder="Confirm Password" type="password" id="cpass" name="cpassword">
                    <button class="btn btn-primary mb-4" type="submit">Reset Password</button>
                    {% if message %}
                    <div id="response">
                        <p>{{ message.status }}</p>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>