{% extends 'layout/app_layout.html' %}
{% block 'content' %}

<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Available Plan</h1>
    </div>
    <br><br><br>
    <div class="container-fluid d-flex justify-content-end">
        <a href="{% url 'addplan' %}" class="btn btn-outline-primary" role="button">Add New Plan</a>
    </div>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-7">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 75%; text-align: center;">Name</th>
                        <th style="width: 25%; text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plan in page_obj %}
                    <tr>
                        <td>{{ plan.plan_name }}</td>
                        <td>
                            <div class="button-group">
                                <form method="get" action="{% url 'plandetails' plan.pk %}" style="display: inline-block;">
                                    <button type="submit" class="btn btn-sm btn-success" style="width: 65px; margin-left: 20px;">View</button>
                                </form>
                                
                                {% if plan.plan_status == 'true' %}
                                <form method="post" action="{% url 'plantoggle' plan.pk %}" style="display: inline-block;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-danger" style="width: 65px;">Disable</button>
                                  </form>
                                {% else %}
                                <form method="post" action="{% url 'plantoggle' plan.pk %}" style="display: inline-block;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-success" style="width: 65px;">Enable</button>
                                  </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2" class="text-center">No plans found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                {% if page_obj.has_previous %}
                    <a href="?page=1{% if query %}&q={{ query }}{% endif %}" style="margin-right: 5px; margin-left: 5px;">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" style="margin-right: 5px; margin-left: 5px;">Previous</a>
                {% endif %}
        
                <span class="current" style="margin-right: 5px; margin-left: 5px;">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}" style="margin-right: 5px; margin-left: 5px;">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}" style="margin-right: 5px; margin-left: 5px;">Last</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}