.app {
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* text-align: center; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-top: 56px; */
}

.content {
  border-radius: 10px;
  color: white;
  padding: 20px;
}

.rounded-container {
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid #3f3f3f;
}

.apph1 {
  text-align: center;
}